@import "tailwindcss";

@theme {
  --color-brand: #4b5dd0;
  --color-brand-hover: #3d4bb3;
  --color-brand-faded: #e9e9ff;
  --color-brand-disabled: #aab2e6;

  --color-gray: #d0d5dd;
  --color-hover: #f0f0f0;
  --color-background: #f9f9f9;

  --color-primary: #101828;
  --color-secondary: #344054;
  --color-placeholder: #667085;

  --color-danger: #dc2626;
  --color-danger-hover: #b91c1c;
  --color-danger-faded: #fef2f2;

  --color-warning: #f59e0b;
  --color-warning-hover: #d97706;
  --color-warning-faded: #fffbeb;

  --color-success: #12b76a;
  --color-success-hover: #039855;
  --color-success-faded: #ecfdf3;

  --color-white: #ffffff;

}
